<%= link_to "Back to Photos", photos_url %>
<%= link_to "Edit", edit_photo_url %>
<%= link_to "Delete", @photo, method: :delete, data: {confirm: "Are you sure you want to delete?"} %>

<h1><%= @photo.title %></h1>
<p>
  by <%= @photo.author %>
</p>

<%= image_tag @photo.url %>
